In [1]:
import numpy as np
import pandas as pd

In [2]:
label = ['satu','dua','tiga']

In [3]:
angka = [10,20,30]

In [4]:
np_angka = np.array(angka)

In [5]:
np_angka

array([10, 20, 30])

In [6]:
d = {'satu':10,'dua':20,'tiga':30}

In [7]:
pd.Series(angka)

0    10
1    20
2    30
dtype: int64

In [8]:
datakucoba = pd.Series(data=angka,index=label)

In [9]:
datakucoba['satu']

10

In [10]:
np_angka [0]

10

In [11]:
datakucoba = datakucoba.to_frame()

In [12]:
datakucoba

       0
satu  10
dua   20
tiga  30

In [13]:
d2 = {'satu':10,'dua':20,'tiga':30, 'empat':40,'lima':50}

In [14]:
d2

{'satu': 10, 'dua': 20, 'tiga': 30, 'empat': 40, 'lima': 50}