In [1]:
import pandas as pd #import library

In [18]:
datakuIndriani = pd.read_excel('REPORT CHAT TANGGAL 10 MARET 2022.xlsx',sheet_name='INDRIANI')#memanggil file data sesuai dengan directorynya
datakuNasa = pd.read_excel('REPORT CHAT TANGGAL 10 MARET 2022.xlsx',sheet_name='NASA')#memanggil file data sesuai dengan directorynya
datakuSilvia = pd.read_excel('REPORT CHAT TANGGAL 10 MARET 2022.xlsx',sheet_name='SILVIA')#memanggil file data sesuai dengan directorynya
datakuIndah = pd.read_excel('REPORT CHAT TANGGAL 10 MARET 2022.xlsx',sheet_name='INDAH')#memanggil file data sesuai dengan directorynya

In [19]:
dataall = datakuIndriani.append([datakuNasa,datakuSilvia,datakuIndah])

In [21]:
dataall.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 70 entries, 0 to 17
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Agent             27 non-null     object
 1   Conversation ID   70 non-null     int64
 2   Customer ID       70 non-null     int64
 3   Customer Name     70 non-null     object
 4   Channel           70 non-null     object
 5   Tag               70 non-null     object
 6   Room Assigned At  70 non-null     object
 7   AGENT             21 non-null     object
 8   TANGGAL           21 non-null     object
 9   Tag Created At    61 non-null     object
 10  Agen              22 non-null     object
dtypes: int64(2), object(9)
memory usage: 6.6+ KB

In [22]:
dataall.head(10)#menampilkan 10 baris pertama dari dataframe

,Agent,Conversation ID,Customer ID,Customer Name,Channel,Tag,Room Assigned At,AGENT,TANGGAL,Tag Created At,Agen
0,Indriani,70006594,6281212436602,Properti,WhatsApp - Rumah Sunat dr. Mahdian,[WhatsappAnakregular] regular visitorbr,2022-03-10T05:46:11Z,NaN,NaN,NaN,NaN
1,Indriani,69925093,6285850733657,Ipul,WhatsApp - Rumah Sunat dr. Mahdian,tidakadakode regular lain-lainbr,2022-03-10T00:40:43Z,NaN,NaN,NaN,NaN
2,Indriani,69935768,6282299992688,Hanum Az-zahra,WhatsApp - Rumah Sunat dr. Mahdian,[WhatsappAnakReguler] housecall lain-lainbr,2022-03-10T00:40:48Z,NaN,NaN,NaN,NaN
3,Indriani,69940601,6281289196296,Feby Seferagic,WhatsApp - Rumah Sunat dr. Mahdian,tidakadakode regular visitorbr,2022-03-10T00:40:52Z,NaN,NaN,NaN,NaN
4,Indriani,69912882,6282122370192,Muhammad Hilal,WhatsApp - Rumah Sunat dr. Mahdian,tidakadakode gemuk visitorlm,2022-03-10T00:40:47Z,NaN,NaN,NaN,NaN
5,Indriani,69958447,628125014894,Zulkarnain Agus Salim,WhatsApp - Rumah Sunat dr. Mahdian,tidakadakode regular shoppingbr,2022-03-10T01:29:19Z,NaN,NaN,NaN,NaN
6,Indriani,69946022,6285652110511,Ingrid Felicia,WhatsApp - Rumah Sunat dr. Mahdian,[WhatsappGMB] regular shoppingbr,2022-03-10T00:40:58Z,NaN,NaN,NaN,NaN
7,Indriani,69891194,628871332110,Kueku / Nana Razka,WhatsApp - Rumah Sunat dr. Mahdian,[WhatsappAnakReguler]regular shoppinglm,2022-03-10T00:40:55Z,NaN,NaN,NaN,NaN
8,Indriani,45417530,6287896733170,Tatu,WhatsApp - Rumah Sunat dr. Mahdian,tidakadakode lain-lain spamlm,2022-03-10T23:56:08Z,NaN,NaN,NaN,NaN
0,NaN,70047479,6289630738988,Adris Serfiraz Khairunaas,WhatsApp - Rumah Sunat dr. Mahdian,tidakadakode regular visitorbr,2022-03-10T19:51:28Z,NASA,10 Maret 2022,2022-03-10T22:50:16Z,NaN

In [23]:
dataall.drop(columns='Customer Name', inplace=True) #menghapus colum pada dataframe

In [24]:
dataall.head()

,Agent,Conversation ID,Customer ID,Channel,Tag,Room Assigned At,AGENT,TANGGAL,Tag Created At,Agen
0,Indriani,70006594,6281212436602,WhatsApp - Rumah Sunat dr. Mahdian,[WhatsappAnakregular] regular visitorbr,2022-03-10T05:46:11Z,NaN,NaN,NaN,NaN
1,Indriani,69925093,6285850733657,WhatsApp - Rumah Sunat dr. Mahdian,tidakadakode regular lain-lainbr,2022-03-10T00:40:43Z,NaN,NaN,NaN,NaN
2,Indriani,69935768,6282299992688,WhatsApp - Rumah Sunat dr. Mahdian,[WhatsappAnakReguler] housecall lain-lainbr,2022-03-10T00:40:48Z,NaN,NaN,NaN,NaN
3,Indriani,69940601,6281289196296,WhatsApp - Rumah Sunat dr. Mahdian,tidakadakode regular visitorbr,2022-03-10T00:40:52Z,NaN,NaN,NaN,NaN
4,Indriani,69912882,6282122370192,WhatsApp - Rumah Sunat dr. Mahdian,tidakadakode gemuk visitorlm,2022-03-10T00:40:47Z,NaN,NaN,NaN,NaN

In [25]:
dataall.shape #mengetahui jumlah baris dan colum

(70, 10)

In [26]:
dataall.columns #menampilkan daftar colum

Index(['Agent', 'Conversation ID', 'Customer ID', 'Channel', 'Tag',
       'Room Assigned At', 'AGENT', 'TANGGAL', 'Tag Created At', 'Agen'],
      dtype='object')

In [27]:
dataall.dtypes #menampilkan type data setiap colum

Agent               object
Conversation ID      int64
Customer ID          int64
Channel             object
Tag                 object
Room Assigned At    object
AGENT               object
TANGGAL             object
Tag Created At      object
Agen                object
dtype: object

In [9]:
dataku.info() #informasi dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Agent             9 non-null      object
 1   Conversation ID   9 non-null      int64
 2   Customer ID       9 non-null      int64
 3   Channel           9 non-null      object
 4   Tag               9 non-null      object
 5   Room Assigned At  9 non-null      object
dtypes: int64(2), object(4)
memory usage: 560.0+ bytes

In [28]:
dataall.isna().values.any()#untuk menampilkan dta yang kosong

True

In [29]:
dataall[dataall.duplicated()]#mengetahui duplikasi data yg di tampilkan adalah sekunder datanya(Data tidak ada duplikasi).
#jika ingin melihat keseluruhan data duplikasi tambahkan (keep=False)

Empty DataFrame
Columns: [Agent, Conversation ID, Customer ID, Channel, Tag, Room Assigned At, AGENT, TANGGAL, Tag Created At, Agen]
Index: []

In [52]:
data_bersih = dataall['Customer ID'].duplicated().value_counts()#menghitung jumlah duplikasi datanya

In [53]:
data_bersih.drop_duplicates(inplace=True)#menghapus data yang duplikasi

In [50]:
data_bersih

7

In [54]:
data_bersih.describe() #melihat data korelasi statistiknya

count     2.00000
mean     35.00000
std      39.59798
min       7.00000
25%      21.00000
50%      35.00000
75%      49.00000
max      63.00000
Name: Customer ID, dtype: float64